* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Consolas';
}

body {
    background-image: url("background.gif");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

.bg {
    backdrop-filter: brightness(0.7);
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 300px;
    margin-left: 0;
    margin-right: 0;
    font-size: 150%;
    color: white;
    text-shadow: 5px 5px 15px black, -5px -5px 15px black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    position: sticky;
    background-color: rgb(0, 0, 0, 0.5);
}

nav h2 {
    font-size: 27px;
    padding: 15px;
    color: white;
    letter-spacing: 1.5px;
}

nav ul li {
    display: inline-block;
    cursor: pointer;
    padding: 1rem;
}

nav ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 8px;
    letter-spacing: 1.5px;
    border-radius: 20px;
    transition: all 0.4s;
}

nav ul li a:hover {
    border-radius: 20px;
    background-color: rgb(9, 123, 103);
}

.personal-info {
    width: 100%;
    padding: 150px 0;
    background-color: rgb(9, 123, 103);
}

.personal-info img {
    height: 360px;
    width: 360px;
    border-radius: 50%;
    transition: all 0.6s;
}
.animate {
    animation: slide 0.7s ease-out;
}
@keyframes slide {
    0% {
        transform: translateX(-500px);
    }
}

.personal-info img:hover {
    box-shadow: 3px 3px 25px rgb(0, 255, 208);
    cursor: pointer;
}

.section1 {
    width: 1130px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info {
    width: 550px;
    color: white;
}

.info h1 {
    font-size: 60px;
    border-bottom: 4px solid rgb(6, 240, 197);
    margin-bottom: 45px;
}
.anmt {
    font-size: 60px;
    border-bottom: 4px solid rgb(6, 240, 197);
    margin-bottom: 45px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    animation: typing 1s linear;
}
@keyframes typing {
    from {
        width: 0;
    }
}
.info p {
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 21px;
}
.projects {
    background-image: url("background.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 150px 0;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    color: white;
}
.section2 h1 {
    font-size: 60px;
}
.icons img {
    width: 200px;
    border-radius: 50%;
    transition: all 0.5s;
}
.icons img:hover {
    transform: scale(1.3);
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}
body::-webkit-scrollbar {
    width: 8.5px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 218, 178);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 95, 78);
}